.search-bar{
    width: 100%;
    margin: 10px 0 15px 0;
    display: flex;
}

.search-input{
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    background: rgba(255,255,255,0.05);
}

.search-input:focus{
    outline: none;
    border-color: #646cff;
}
