.task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 320px;
    margin: 0 auto 30px;
    padding: 22px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.task-form input,
.task-form textarea {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    outline: none;
    background: rgba(255, 255, 255, 0.85);
    transition: 0.2s;
}

.task-form input:hover,
.task-form textarea:hover {
    background: #fff;
}

.task-form input:focus,
.task-form textarea:focus {
    border-color: #646cff;
    background: white;
}

.task-form textarea {
    resize: none;
