body.light {
  background: #fff;
  color: #000;
}

body.dark {
  background: #222;
  color: #fff;
}

@import "./tasks/tasks.css";
@import "./search/search.css";
@import "./theme/theme.css";

.app {
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 10px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
